option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: mongodb+srv://rashmibrsandhut_db_user:FoRgsm1Dw7juzllc@cluster0.7ibhc6d.mongodb.net/sandevex-assessment?appName=Cluster0
    SMTP_HOST: smtp.gmail.com
    SMTP_PORT: 587
    SMTP_USER: sandevex@gmail.com
    SMTP_PASS: mjob zdvq xuqc hhfe
    FROM_EMAIL: sandevex@gmail.com
    EMAILJS_PUBLIC_KEY: sj-BevXC_06XNy5Wm
    EMAILJS_SERVICE_ID: service_54zkh4f
    EMAILJS_DEFAULT_TEMPLATE_ID: template_rcuob8s
    HR_NOTIFY_EMAIL: Hello.prakashr@gmail.com
    FRONTEND_URL: https://sandevex-offer-frontend.vercel.app
    BOOKING_TEMPLATE_ID: template_oanrrbl
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
